.cardRow {
    display : flex;
    flex-direction: row;
    margin: 10px;
    text-align: center;
    justify-content : center;
    align-items : center;
}

.cardRow a {
    color: #242232;
    text-decoration: none;
  }