{% extends "backend/base.html"%}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}
{% load static %}

    <style>

      body{
        margin: 0!important;
        box-sizing: border-box;
        background-color: #e3e1e95c;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
      }

      .heading-container{
        width: 100%;
        height: 12%;
        background-color: #00F1DC;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
      }

      .heading-div{
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
      }

      .home-icon-div{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .heading-text{
        font-family: 'Arvo', serif;
        font-size: 170%;
      }

      .home-img{
        width: 30px;
        height: 30px;
      }

      .user-name-container{
        padding-top: 15px;
        padding-right: 30px;
        text-align: right;
      }

      .page-heading-container{
        padding-top: 20px;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
      }

      .page-heading{
        font-family: 'Zilla Slab', serif;
        font-size: 180%;
      }

      .table-title{
        margin-top: 50px;
        text-align: center;
        font-size: 115%;
      }

      .table{
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 12px 0px black;
      }

      .home-img:hover{
        transform: scale(1.1);
      }

      .hover-bold:hover{
        font-weight: bold;
      }


      /* On screens that are less than 750px wide, make the sidebar into a topbar */
    @media screen and (max-width: 750px) {
     
    }

    /* On screens that are less than 450px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 450px) {
      .heading-container{
        height: 9%;
        width: 140%;
      } 

      .heading-div{
        width: 76%;
      }

      .heading-text{
        font-size: 130%;
      }

      .home-icon-div{
        width: 15%;
      }

      .page-heading-container{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 80%;  
      }
    }

    </style>

  <body>
 
    <div class="heading-container">
      <div class="heading-div">
        <h2 class="heading-text">CONSULT &nbsp DOCTORS</h2>
      </div>
      <div class="home-icon-div">
        <a href="{% url 'home' %}">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Home_Icon.svg/2048px-Home_Icon.svg.png" class="home-img">
        </a>
      </div>
    </div>

    <div class="user-name-container">
      <a href="{% url 'profile' %}" style="text-decoration: none; color: black;">
        <div class="user-name-display">
          <span class="hover-bold"> Hi, {{user.username}} </span>
        </div>
      </a>
    </div>
    
    <div class="page-heading-container">
      <h3 class="page-heading">
        BASED ON THE RESULTS OF PREDICTIVE TESTS, THE DOCTORS WILL BE SUGGESTED ON THE BASIS OF YOUR CURRENT LOCATION IF THERE IS A NEED
      </h3>
    </div>

    {% if heartTestDone %}
      {% if isHeartPatient %}
        <div class="row">
          <div class="col"></div>
          <div class="col-11">
            <div class="table-title">
              Doctors for Heart Disease
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Doctor Name</th>
                  <th>Address</th>
                  <th>Contact Number</th>
                  <th>Years of Experience</th>
                  <th>Gender</th>
                  <th>Rating</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for doctor in heart_doctors %}
                 <tr>
                  <td data-label="Doctor Name">{{doctor.full_name}}</td>
                  <td data-label="Address">{{doctor.address}}</td>
                  <td data-label="Contact Number">{{doctor.contact}}</td>
                  <td data-label="Years of Experience">{{doctor.yoe}}</td>
                  <td data-label="Gender">{{doctor.gender}}</td>
                  <td data-label="Rating">{{doctor.rating}}</td>
                  <td>
                    <a href="{% url 'book_doctor_appointment' doctor.full_name %}" style="text-decoration: none;">
                      <button type="button" class="btn btn-primary appointment-btn heart {{forloop.counter }}">Book Appointment</button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col"></div>
        </div>
        {% else %}
      {% endif %}

      {% else %}
    {% endif %}

      {% if diabetesTestDone %}
        {% if isdiabetesPatient %}
        <div class="row">
          <div class="col"></div>
          <div class="col-11">
            <div class="table-title">
              Doctors for Diabetes
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Doctor Name</th>
                  <th>Address</th>
                  <th>Contact Number</th>
                  <th>Years of Experience</th>
                  <th>Gender</th>
                  <th>Rating</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for doctor in diabetes_doctors %}
                  <tr>
                    <td data-label="Doctor Name">{{doctor.full_name}}</td>
                    <td data-label="Address">{{doctor.address}}</td>
                    <td data-label="Contact Number">{{doctor.contact}}</td>
                    <td data-label="Years of Experience">{{doctor.yoe}}</td>
                    <td data-label="Gender">{{doctor.gender}}</td>
                    <td data-label="Rating">{{doctor.rating}}</td>
                    <td>
                      <a href="{% url 'book_doctor_appointment' %}" style="text-decoration: none;">
                        <button type="button" class="btn btn-primary appointment-btn diabetes {{forloop.counter }}">Book Appointment</button>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col"></div>
        </div>
        {% else %}
      {% endif %}

      {% else %}
    {% endif %}

    {% if liverTestDone %}
      {% if isLiverPatient %}
      <div class="row">
        <div class="col"></div>
        <div class="col-11">
          <div class="table-title">
            Doctors for Liver Disease
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Doctor Name</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th>Years of Experience</th>
                <th>Gender</th>
                <th>Rating</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for doctor in liver_doctors %}
                <tr>
                  <td data-label="Doctor Name">{{doctor.full_name}}</td>
                  <td data-label="Address">{{doctor.address}}</td>
                  <td data-label="Contact Number">{{doctor.contact}}</td>
                  <td data-label="Years of Experience">{{doctor.yoe}}</td>
                  <td data-label="Gender">{{doctor.gender}}</td>
                  <td data-label="Rating">{{doctor.rating}}</td>
                  <td>
                    <a href="{% url 'book_doctor_appointment' %}" style="text-decoration: none;">
                      <button type="button" class="btn btn-primary appointment-btn liver {{forloop.counter }}">Book Appointment</button>
                    </a>
                  </td>    
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
      {% else %}
    {% endif %}

    {% else %}
  {% endif %}

   <script>
    window.onload = function() {
      alert("Kindly make sure that you have taken all the possible predictive tests based on your latest lab tests reports.")
    }

    diseaseName = "";
    tableEntry = 0;

    let tables = document.querySelectorAll(".table");
    let myTable = "";

    let appointmentBtns = document.querySelectorAll(".appointment-btn");
    for(i = 0; i < appointmentBtns.length; i++) {
      appointmentBtns[i].addEventListener('click', (e) => {

        // Finding Disease Name
        if(e.currentTarget.classList.contains("heart")) {
          diseaseName = "Heart Disease";
        } else if(e.currentTarget.classList.contains("diabetes")) {
          diseaseName = "Diabetes";
        } else if(e.currentTarget.classList.contains("liver")) {
          diseaseName = "Liver Disease";
        }

        // Finding Table Entry Number
        if(e.currentTarget.classList.contains("1")) {
          tableEntry = 0;
        } else if(e.currentTarget.classList.contains("2")) {
          tableEntry = 1;
        } else if(e.currentTarget.classList.contains("3")) {
          tableEntry = 2;
        } else if(e.currentTarget.classList.contains("4")) {
          tableEntry = 3;
        } else if(e.currentTarget.classList.contains("5")) {
          tableEntry = 4;
        }

        // Finding the table
        if(diseaseName == "Heart Disease") {
          myTable = tables[0];
        } else if(diseaseName == "Diabetes") {
          myTable = tables[1];
        } else if(diseaseName == "Liver Disease") {
          myTable = tables[2];
        }

        let allDataRows = myTable.querySelectorAll("tbody tr");
        let myDataRow = allDataRows[tableEntry];

        let myDataColumns = myDataRow.querySelectorAll("td");

        // Finding Doctor Name
        let doctorName = myDataColumns[0].innerText;

        // Finding Doctor Address
        let doctorAddress = myDataColumns[1].innerText;

        // Finding Doctor Contact Number
        let doctorContactNumber = myDataColumns[2].innerText;

        // Finding Doctor Gender
        let doctorGender = myDataColumns[4].innerText;

        // Storing in local Storage
        localStorage.setItem("Disease Name", diseaseName);
        localStorage.setItem("Doctor Name", doctorName);
        localStorage.setItem("Doctor Address", doctorAddress);
        localStorage.setItem("Doctor Contact_Number", doctorContactNumber);
        localStorage.setItem("Doctor Gender", doctorGender);
      })
    }
  </script>
</body>

{% endblock %}