{% extends "backend/base.html"%}
{% load crispy_forms_tags %}
{% block content %}

    <style>

      body{
        margin: 0!important;
        box-sizing: border-box;
        background-color: #e3e1e95c;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
      }

      .heading-container{
        width: 100%;
        height: 12%;
        background-color: #9ba2cf82;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
      }

      .heading-div{
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
      }

      .home-icon-div{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .heading-text{
        font-family: 'Arvo', serif;
        font-size: 170%;
      }

      .home-img{
        width: 30px;
        height: 30px;
      }

      .user-name-container{
        padding-top: 15px;
        padding-right: 30px;
        text-align: right;
      }

      .page-heading-container{
        padding-top: 20px;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
      }

      .page-heading{
        font-family: 'Zilla Slab', serif;
        font-size: 180%;
      }

      .table{
        margin-top: 30px;
      }

      .home-img:hover{
        transform: scale(1.1);
      }

      .user-name-display:hover{
        font-weight: bold;
      }


      /* On screens that are less than 750px wide, make the sidebar into a topbar */
    @media screen and (max-width: 750px) {
     
    }

    /* On screens that are less than 450px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 450px) {
      .heading-container{
        height: 9%;
        width: 140%;
      } 

      .heading-div{
        width: 76%;
      }

      .heading-text{
        font-size: 130%;
      }

      .home-icon-div{
        width: 15%;
      }

      .page-heading-container{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 80%;  
      }
    }

    </style>

  <body>

    <div class="heading-container">
      <div class="heading-div">
        <h2 class="heading-text">CONSULT &nbsp DOCTORS</h2>
      </div>
      <div class="home-icon-div">
        <a href="{% url 'home' %}">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Home_Icon.svg/2048px-Home_Icon.svg.png" class="home-img">
        </a>
      </div>
    </div>

    <div class="user-name-container">
      <a href="{% url 'profile' %}" style="text-decoration: none; color: black;">
        <div class="user-name-display">
          Hi, {{user.username}}
        </div>
      </a>
    </div>
    
    <div class="page-heading-container">
      <h3 class="page-heading">
        BASED ON THE RESULTS OF PREDICTIVE TESTS, THE DOCTORS WILL BE SUGGESTED IF THERE IS A NEED
      </h3>
    </div>

    {% if heartTestDone %}
      {% if isHeartPatient %}
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Doctor Name</th>
                  <th>Address</th>
                  <th>Contact Number</th>
                  <th>Years of Experience</th>
                  <th>Gender</th>
                  <th>Rating</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for doctor in heart_doctors %}
                 <tr>
                  <td data-label="Doctor Name">{{doctor.full_name}}</td>
                  <td data-label="Address">{{doctor.address}}</td>
                  <td data-label="Contact Number">{{doctor.contact}}</td>
                  <td data-label="Years of Experience">{{doctor.yoe}}</td>
                  <td data-label="Gender">{{doctor.gender}}</td>
                  <td data-label="Rating">{{doctor.rating}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
        {% else %}
      {% endif %}

      {% else %}
    {% endif %}

      {% if diabetesTestDone %}
        {% if isdiabetesPatient %}
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Doctor Name</th>
                  <th>Address</th>
                  <th>Contact Number</th>
                  <th>Years of Experience</th>
                  <th>Gender</th>
                  <th>Rating</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for doctor in diabetes_doctors %}
                  <tr>
                    <td data-label="Doctor Name">{{doctor.full_name}}</td>
                    <td data-label="Address">{{doctor.address}}</td>
                    <td data-label="Contact Number">{{doctor.contact}}</td>
                    <td data-label="Years of Experience">{{doctor.yoe}}</td>
                    <td data-label="Gender">{{doctor.gender}}</td>
                    <td data-label="Rating">{{doctor.rating}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
        {% else %}
      {% endif %}

      {% else %}
    {% endif %}

    {% if liverTestDone %}
      {% if isLiverPatient %}
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <table class="table">
            <thead>
              <tr>
                <th>Doctor Name</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th>Years of Experience</th>
                <th>Gender</th>
                <th>Rating</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for doctor in liver_doctors %}
                <tr>
                  <td data-label="Doctor Name">{{doctor.full_name}}</td>
                  <td data-label="Address">{{doctor.address}}</td>
                  <td data-label="Contact Number">{{doctor.contact}}</td>
                  <td data-label="Years of Experience">{{doctor.yoe}}</td>
                  <td data-label="Gender">{{doctor.gender}}</td>
                  <td data-label="Rating">{{doctor.rating}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-1"></div>
      </div>
      {% else %}
    {% endif %}

    {% else %}
  {% endif %}


  <script>
    window.onload = function() {
      alert("Kindly make sure that you have taken all the possible predictive tests based on your latest lab tests reports.")
    }
  </script>
</body>

{% endblock %}