{% extends "backend/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<body>
    <div class="main">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Maladie Prediction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'heart_disease_info' %}">Disease 1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'diabetes_info' %}">Disease 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'liver_info' %}">Disease 3</a>
                </li>
              </ul>
            </div>
          </nav>
        
        <div style="text-align: center;">
           <h2 style=""> {{heart.name}}</h2>
          
           <p> {{heart.information}} </p>
           <p> {{heart.symptoms}} </p>
           <p> {{heart.causes}}</p>
           <p> {{heart.vulnerable}} </p>
           <p> {{heart.food_to_eat}} </p>

       </div>

    </div>
</body>

{% endblock %}