{% extends "backend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  body {
    margin: 0;
    box-sizing: border-box;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  }

  .container{
    margin-top: 100px;
    width: 50vw;
    margin-left: 30vw;
  }

  .sign-up {
    margin: 15px;
  }

  .heading{
    text-align: center;
    font-family: 'Arvo', serif;
  }
  
  .button{
    margin-left: 10px;
  }

</style>

<body>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">

        <div class='content-section'>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 heading"> Log In </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-dark button" type="submit">Log In</button>
                </div>
            </form>
            <div class="border-top pt-3 sign-up">
                  Don't have an account? <a class="ml-2" href="{% url 'register' %}" style="text-decoration: none; color: blue;"> Sign Up </a>    
            </div>
        </div>
      </div>
    </div>
  </main>
</body>

  
{% endblock %}